
body {
  color: #2e3035;
}

section {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

footer {
  width: 100vw;
  height: 50vh;
  background-color: #2e3035;
  color: #eff5f7;
}

.about-section {
  background-color: #2e3035;
  color: #eff5f7;
}

.get-involved-section {
  background-color: #08596d;
  color: #eff5f7;
}

.uppercase {
  text-transform: uppercase;
}

a:link {
  color: #6ab6c9;
}

.nav-link {
  color: #6ab6c9;
}

a:hover {
  color: #6ab6c9;
  text-decoration: underline;
}

.nav-link:hover {
  color: #6ab6c9;
  text-decoration: underline;
}

.event-details {
  border: 2px solid #08596d;
  border-radius: 5px;
  background-color: #2e3035;
  color: #eff5f7;
  margin: 3.5%;
  padding: 1%;
}
